.paginationContainer{
    display: flex;
    flex-direction: row;
}

.selectedPaginationListItem{
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    margin-right: 4px;
    background-color: green;
}

.paginationListItem{
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    margin-right: 4px;
    background-color:bisque;
}

.listItem{
    font-size: medium;
}